# Copyright (C) 2024 Mitsubishi Electric Research Laboratories (MERL)
#
# SPDX-License-Identifier: AGPL-3.0-or-later

numpy==1.24.1
einops==0.8.0
sacred==0.8.4
psutil==5.9.5
pyyaml==6.0
tensorboardX==2.6
torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2
lazy_dataset==0.0.14
nara_wpe>=0.0.11
paderbox==0.0.8
padertorch==0.0.1
pb_bss @ git+https://github.com/fgnt/pb_bss@99eb6c8
ci-sdr==0.0.2
